// *{
// 	margin: 0;
// 	// padding: 0;
// 	//box-sizing: border-box;
// }
body {margin:0; padding:0; font:12px/1.5 helvetica,arial,"Microsoft YaHei",\5b8b\4f53;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}

// body {
// 	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
// 	/* background-image: url(../img/backgroud/2.jpg); */
// 	 background-repeat:no-repeat;
// 	 background-color: #F6F6F6;
// }

// .mainbody{
// 	margin-right: auto; 
// 	margin-left: auto; 
// 	width:890px;

// }

// [v-cloak] {
// 	display: none;
// }

// .container {
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }

// p {
// 	color: black;
// 	font-size: 20;
// 	text-align: center;
// }

// #top{
// 	margin-top: 20px;
// 	padding-left: 20px;
// }

// #web_icon {
// 	width: 54px;
// 	height: 54px;
// 	border-radius: 30px;
// 	background-image: url(../img/fk.jpg);
// 	background-repeat: no-repeat;
// 	background-size: 66px;
// 	background-origin: auto;
// 	background-position: center;
// 	border: #000000 solid;
// 	// display: inline-block;
// 	position: relative ; 
// 	left: 10px;
// 	top: 10px;
// 	float: left;
// }

// #mainbody #message1{
// 	// display: inline-block;
// 	background-color: aliceblue;/*  */
// 	float:left;  
// 	width:758px;
// 	overflow: hidden;
// 	margin-bottom: 15px;
// 	border-radius: 2px;
// 	box-shadow: 0 -14px 16px rgba(26,26,26,.1);
// }

// .pull-right {
//     float: right !important;
// 	}
// #buttomm{
// 	background-color:orange; 
// 	float:top; 
// 	width:890px;
// 	height:100px;
// 	margin-top:16px;
// 	/* overflow: hidden; */
// 	clear: both;
// }
// #main{
// 	width: 300px;
// 	height: 200px;
// 	margin-top:20px;
// 	background-color: #000000;
// }


// .btn-success {
//   color: #fff;
//   background-color: #5cb85c;
//   border-color: #4cae4c;
// }
// .btn-success:hover {
//   color: #fff;
//   background-color: #449d44;
//   border-color: #398439;
// }
// .btn-success:active,


// .btn {
//   display: inline-block;
//   padding: 6px 12px;
//   margin-top: 10px;
//   margin-left: 10px;
//   margin-bottom: 10px;
//   font-size: 14px;
//   font-weight: normal;
//   line-height: 1.42857143;
//   text-align: center;
//   white-space: nowrap;
//   vertical-align: middle;
//   -ms-touch-action: manipulation;
//       touch-action: manipulation;
//   cursor: pointer;						/* 设置光标 */
//   -webkit-user-select: none;
//      -moz-user-select: none;
//       -ms-user-select: none;
//           user-select: none;			/* 阻止用户选择 */
//   background-image: none;
//   border: 1px solid transparent;
//   border-radius: 4px;
//   /* float:right; */
  
// }

// a{
// 	text-decoration: none;
// }


// .list-group-item {
//     position: relative;
//     display: block;
//     padding: 10px 15px;
//     margin-bottom: -1px;
//     background-color: #fff;
//     border: 1px solid #ddd;
// }








//以下是拷贝的重设样式
/*
body {margin:0; padding:0; font:12px/1.5 helvetica,arial,"Microsoft YaHei",\5b8b\4f53;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;max-width: 100%; height:auto;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
address,cite,code,em,th,i,var{font-weight:normal; font-style:normal;}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
a:link,a:visited
{
    color:#000;
    text-decoration: none;
}
input
{
    outline: 0;
    outline: none;
}
.ellipsis
{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.fl{float: left;}
.fr{float: right;}
.mt10{margin-top: 10px;}
.ml10{margin-left: 10px;}
.mb10{margin-top: 10px;}
.mr10{margin-left: 10px;}
.main-wrap{width: 1200px; margin:0 auto;}*/